<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center">Login</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/images/header1.png"></ion-img>
  </ion-card>
  <ion-card-content>
    <div class="wrapform">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
        <ion-item>
          <ion-input
          label="Email"
          labelPlacement="floating"
          placeholder="name@example.com"
          formControlName="email"
          (ionChange)="validarCampos()"
          ></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
    
        <!-- Mensaje de advertencia mostrado debajo del campo email -->
        
        <!-- <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div *ngIf="(
              loginForm.get('email')?.hasError(validation.type) && 
              loginForm.get('email')?.dirty) 
            ">
              {{validation.message}}
            </div>
          </ng-container>
        </div> -->
    
        <ion-item>
          <ion-input
          label="Password"
          labelPlacement="floating"
          placeholder="********"
          formControlName="password"
          type="password"
          (ionChange)="validarCampos()"
          ></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>

          <!-- Mensaje de advertencia mostrado debajo del campo password -->

          <!-- <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div
                *ngIf="loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty"
              >
                {{validation.message}}
              </div>
            </ng-container>
          </div> -->
        
        <ion-button
          class="ion-margin-top"
          expand="full"
          Shape="round"
          color="secondary"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Ingresar
        </ion-button>
      </form>
    </div>

    <div class="text-tag">
      <span>
        O usa tus redes sociales
      </span>
    </div>

    <div>
      <div class="social-btns">
        <ion-button fill="clear" class="loginbtn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="loginbtn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="loginbtn ion-no-padding">
          <ion-img src="assets/images/apple.png"></ion-img>
        </ion-button>          
      </div>
    </div>

  </ion-card-content>
  <ion-card>
    <div class="ion-card-footer">
      <span>¿No tienes una cuenta aun?</span><button class="ion-no-padding" routerLink="/register">Regístrate </button>
    </div>
  </ion-card>
</ion-content>
