<ion-header>
</ion-header>

<ion-content>
  <ion-icon name="close" class="close-icon" (click)='finish()'></ion-icon>
  <swiper-container 
  [initialSlide]="1"
  [slidesPerView]="1"
  [speed]="400"
  >

    <swiper-slide *ngFor="let slide of slides">
      <ion-item>
        <ion-label>
          <h1 class="my-favorite-text-color">{{slide.title}}</h1>
        </ion-label>
      </ion-item>
      <img src="{{slide.img}}" class="img_slide"/>
      <ion-icon class="slide-icon" name="slide-icon" name="{{slide.icon}}"></ion-icon>
      <p class="slide-description">"{{slide.description}}"</p>
      <ion-searchbar class="ion-searchbar" color="warning" placeholder="Buscar"></ion-searchbar>
    </swiper-slide>

  </swiper-container>
</ion-content>