ion-content {
  --ion-background-color: transparent;
}

.bg-color {
  background: #e1eaf9;
}

ion-header {
  position: absolute;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none !important;
}

ion-card-title {
  margin-top: 50px !important;
  font-size: 25px;
  color: #53565a;
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
  padding-top: 15px !important;
  font-size: 13px;
  color: #888c91;
  font-weight: 400;
  text-transform: none;
  padding: 0 30px;
}

ion-card-content {
  padding-top: 30px;
}

ion-item {
  color: #74787e;
  --border-color: #d4d7dc;
  --high-light-color-focused: #215ab7;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 13px;
  ion-input {
    color: #74787e;
    font-size: 13px;
    ion-icon {
      padding-right: 6px;
      font-size: 18px;
    }
  }

  ion-input:hover {
    color: #215ab7;
  }
}

.wrapform {
  margin-top: 30px;
}

.text-tag {
  margin-top: 35px;
  text-align: center;
  span {
    font-size: 13px;
    font-weight: normal;
    color: #898585;
  }
}

.social-btns {
  text-align: center;
  ion-buttons {
    width: 30px;
    padding-left: 5px !important;
  }
}
